/* If you need to create specific css */
body {
	background-color:white;
	color:black;
	min-height:inherit;
	display:flex;
	align-items: center;
  justify-content: center;
  padding: 1em;
	background-image: url("background.jpg");
	background-size: 2000px 1100px;
	background-repeat: no-repeat;
}

.enter-name {
	color:black;
}

.top-buffer {
	margin-top: 220px;
}

html {
	height:auto;
}
