/* If you need to create specific css */
body {
	background-color:white;
	color:black;
	min-height:inherit;
	display:flex;
	align-items: center;
  justify-content: center;
  padding: 1em;
	background-image: url("background.jpg");
	background-size: 2000px 1100px;
	background-repeat: no-repeat;
}

h1 {
	text-align: center;
}

html {
	height:auto;
}

.jumbotron p{
    font-size: 14px;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.jumbotron {
	background-color:transparent !important;
}

.enter-name {
	color:black;
}

.top-buffer {
	margin-top: 220px;
}
